<nav class="navbar">
    <ul>
      <li>
        <a routerLink="/home" class="nav-link">
          <span class="material-icons">home</span>
          Home
        </a>
      </li>
      <li>
        <a routerLink="/menu" class="nav-link">
          <span class="material-icons">menu_book</span>
          Coffee List
        </a>
      </li>
      <li>
        <a routerLink="/new-order" class="nav-link">
          <span class="material-icons">shopping_cart</span>
          Orders
        </a>
      </li>
      <li>
        <a routerLink="/add-coffee" class="nav-link">
          <span class="material-icons">add_circle</span>
          Add Coffee
        </a>
      </li>
    </ul>
  </nav>
