<div class="home-container">
    <h1>Welcome to the {{coffeShopName}}!</h1>
    <img class="nordic-coffee-haven-logo" src="nordicCoffeHavenLogo.jpg" alt="Coffee Haven Logo">
    <p>
        Here, you can browse our coffee menu, explore new recipes, and even create
        your own to share with the world. Feel free to get creative and add your special touch!
    </p>
    <p>
        However, if you'd like to place an order, please contact a barista directly. They're standing by to ensure
        your coffee dreams come true—no robots involved!
    </p>
    <p class="humor">
        Oh, and one small thing: You might want to brush up on your Swedish.
        Our descriptions come straight from a Nordic coffee guru, so just the right amount of understanding
        of Swedish could come in handy!
    </p>
</div>