.access-denied-container {
    text-align: center;
    padding: 2rem;
    background-color: #8C5230;
    font-family: 'Roboto', sans-serif;

    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
        url('/background2.jpg');
    background-size: contain;
}

h1 {
    color: red;
    margin-bottom: 1rem;
}

.access-denied-img {
    width: 40%;
    max-width: 300px;
    border-radius: 50%;
}

p {
    color: #F9EFE6;
    margin: 1rem 0;
    font-size: 1.2rem;
}

.humor {
    margin-top: 2rem;
    color: #D98A29;
    font-style: italic;
}
