<div class="access-denied-container">
    <h1>Access Denied!</h1>
    <img class="access-denied-img" src="accessDenied.jpg" alt="Access Denied Image">
    <p>
        Uh oh! It looks like you've wandered into a restricted area. This part of the coffee haven is off-limits
        unless you're part of our exclusive barista squad.
    </p>
    <p>
        Don't worry, you can still explore our menu, discover delicious recipes, and dream of brewing the perfect cup.
        But for now, only certified coffee maestros can step beyond this line.
    </p>
    <p class="humor">
        P.S. No amount of Swedish coffee lore will unlock this section. Trust us, we've tried!
        Better grab a cup of coffee and stick to the safe zones.
    </p>
</div>